// styles.scss
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$yellow-main: #ffcb0f;
$navbar-grey: #222533;

.bg-dark{
  background: $navbar-grey;
}